langchain
langchain-milvus
langchain-community
milvus
fastapi
uvicorn
python-multipart
pymupdf
python-docx
fpdf2
rank-bm25
jieba
pymysql
sqlalchemy
redis
rocketmq-client-python
dashscope
pydantic
python-dotenv
pydantic-settings
